.two-cols-container {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-block: 20px 0;

  .map-wrapper {
    width: 50%;
  }
}

.time {
  font-size: 14px;
  font-style: italic;
  padding: 4px 0;
}
