.aqi-legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  color: #000;

  .aqi-level {
    flex: 1;
    padding: 12px 10px;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .aqi-range {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 4px;
    }

    .aqi-label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 6px;
    }

    .aqi-description {
      font-size: 13px;
      line-height: 1.3;
      padding: 0 6px;
    }
  }
}
